<a href="https://colab.research.google.com/github/natnew/200-Projects-For-Beginners-Using-Python-Series/blob/main/Get_Stock_Updates_Using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yahoo_fin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo_fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (1.3.5)
Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 3.0 MB/s
Collecting requests-html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (2.23.0)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->yahoo_fin) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (1.24.3)
Collecting w3lib
  Downloading w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Collecting pyquery
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 797 kB/s
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.12.0)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 38.1 MB/s
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (112 kB)
     |████████████████████████████████| 112 kB 41.3 MB/s
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.1.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests-html->yahoo_fin) (4.6.3)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests-html->yahoo_fin) (4.2.6)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Building wheels for collected packages: fake-useragent, parse, sgmllib3k
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13502 sha256=501fecd701e7b0ebbdad6e7a6fb5312a00234d923e8fb899683b94660d48e14a
  Stored in directory: /root/.cache/pip/wheels/ed/f7/62/50ab6c9a0b5567267ab76a9daa9d06315704209b2c5d032031
  Building wheel for parse (setup.py) ... done
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24591 sha256=67a710e5bbb113166fb8e96382923072571b8c0beff8033994d29f8325a05e68
  Stored in directory: /root/.cache/pip/wheels/9c/aa/cc/f2228050ccb40f22144b073f15a2c84f11204f29fc0dce028e
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=ae862f598fb2266355264bcdcc0374f7327296419f5d8523e9a7b8158fdf8a9c
  Stored in directory: /root/.cache/pip/wheels/73/ad/a4/0dff4a6ef231fc0dfa12ffbac2a36cebfdddfe059f50e019aa
Successfully built fake-useragent parse sgmllib3k
Installing collected packages: websockets, urllib3, pyee, cssselect, w3lib, sgmllib3k, pyquery, pyppeteer, parse, fake-useragent, requests-html, feedparser, yahoo-fin
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cssselect-1.1.0 fake-useragent-0.1.11 feedparser-6.0.10 parse-1.19.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-1.4.3 requests-html-0.10.0 sgmllib3k-1.0.0 urllib3-1.25.11 w3lib-1.22.0 websockets-10.3 yahoo-fin-0.8.9.1

In [2]:
#Get data from Yahoo Finance 
#finance.yahoo.com
from yahoo_fin import stock_info

In [3]:
#Tesla Inc
live_price = stock_info.get_live_price("TSLA")
print(round(live_price, 2), "UDA")

891.45 UDA

In [16]:
#Get company info
stock_info.get_company_info("TSLA")

                                                                       Value
Breakdown
zip                                                                    78725
sector                                                     Consumer Cyclical
fullTimeEmployees                                                      99290
compensationRisk                                                          10
auditRisk                                                                  8
longBusinessSummary        Tesla, Inc. designs, develops, manufactures, l...
city                                                                  Austin
phone                                                         (512) 516-8177
state                                                                     TX
shareHolderRightsRisk                                                     10
compensationAsOfEpochDate                                         1640908800
governanceEpochDate                                               1656633600
boardRisk                                                                  9
country                                                        United States
website                                                https://www.tesla.com
maxAge                                                                 86400
overallRisk                                                               10
address1                                                    13101 Tesla Road
industry                                                  Auto Manufacturers

In [18]:
#Get company officers
stock_info.get_company_officers("TSLA")

,totalPay,exercisedValue,yearBorn,title,maxAge,fiscalYear,unexercisedValue,age
name,,,,,,,,
Mr. Elon R. Musk,0.0,23452909568,1972.0,"Technoking of Tesla, CEO & Director",1,2021.0,58325164032,49.0
Mr. Zachary John Planell Kirkhorn,301154.0,3204672,1985.0,Master of Coin & CFO,1,2021.0,518728320,36.0
Mr. Andrew D. Baglino,301154.0,20060192,1981.0,Sr. VP of Powertrain & Energy Engineering,1,2021.0,196973648,40.0
Mr. Vaibhav Taneja,NaN,0,1978.0,Corp. Controller & Chief Accounting Officer,1,NaN,0,43.0
Mr. Martin Viecha,NaN,0,NaN,Sr. Director for Investor Relations,1,NaN,0,NaN
Mr. Alan Prescott,NaN,0,1979.0,VP of Legal,1,NaN,0,42.0
Mr. Dave Arnold,NaN,0,NaN,Sr. Director of Global Communications,1,NaN,0,NaN
Brian Scelfo,NaN,0,NaN,Sr. Director of Corp. Devel.,1,NaN,0,NaN
Mr. Jeffrey B. Straubel,NaN,0,1976.0,Sr. Advisor,1,2018.0,0,45.0
Mr. Franz von Holzhausen,NaN,0,NaN,Chief Designer,1,NaN,0,NaN

In [19]:
#Get earnings history
stock_info.get_earnings_history("TSLA")

[{'companyshortname': 'Tesla Inc',
  'epsactual': None,
  'epsestimate': None,
  'epssurprisepct': None,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2023-01-24T10:59:00.000Z',
  'startdatetimetype': 'TNS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla Inc',
  'epsactual': None,
  'epsestimate': 3.08,
  'epssurprisepct': None,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2022-10-18T10:59:00.000Z',
  'startdatetimetype': 'TNS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 2.27,
  'epsestimate': 1.81,
  'epssurprisepct': 25.14,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2022-07-20T16:07:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 3.22,
  'epsestimate': 2.26,
  'epssurprisepct': 42.54,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2022-04-20T16:09:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 2.54,
  'epsestimate': 2.37,
  'epssurprisepct': 7.13,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2022-01-26T16:07:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 1.86,
  'epsestimate': 1.59,
  'epssurprisepct': 16.69,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2021-10-20T16:08:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 1.45,
  'epsestimate': 0.98,
  'epssurprisepct': 47.66,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2021-07-26T16:07:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.93,
  'epsestimate': 0.79,
  'epssurprisepct': 17.72,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2021-04-26T16:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.8,
  'epsestimate': 1.03,
  'epssurprisepct': -22.48,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2021-01-27T16:08:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.76,
  'epsestimate': 0.58,
  'epssurprisepct': 30.81,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2020-10-21T16:07:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.44,
  'epsestimate': -0.04,
  'epssurprisepct': 1278.38,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2020-07-22T16:23:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.23,
  'epsestimate': -0.06,
  'epssurprisepct': 456.25,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2020-04-29T16:12:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.41,
  'epsestimate': 0.35,
  'epssurprisepct': 19.42,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2020-01-29T16:17:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.37,
  'epsestimate': -0.08,
  'epssurprisepct': 542.86,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2019-10-23T16:54:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.22,
  'epsestimate': -0.07,
  'epssurprisepct': -215.49,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2019-07-24T16:48:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.58,
  'epsestimate': -0.14,
  'epssurprisepct': -323.36,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2019-04-24T17:17:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.39,
  'epsestimate': 0.44,
  'epssurprisepct': -12.27,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2019-01-30T16:13:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.58,
  'epsestimate': -0.04,
  'epssurprisepct': 1587.18,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2018-10-24T16:23:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -3.06,
  'epsestimate': -2.92,
  'epssurprisepct': -4.69,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2018-08-01T16:06:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -3.35,
  'epsestimate': -3.58,
  'epssurprisepct': 6.48,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2018-05-02T16:13:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -3.04,
  'epsestimate': -3.09,
  'epssurprisepct': 1.68,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2018-02-07T16:13:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -2.92,
  'epsestimate': -2.2,
  'epssurprisepct': -32.49,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2017-11-01T16:16:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -1.33,
  'epsestimate': -1.82,
  'epssurprisepct': 27.04,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2017-08-02T16:13:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -1.33,
  'epsestimate': -0.81,
  'epssurprisepct': -63.79,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2017-05-03T16:05:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.69,
  'epsestimate': -0.43,
  'epssurprisepct': -60.84,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2017-02-22T14:41:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.71,
  'epsestimate': -0.54,
  'epssurprisepct': 232.22,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2016-10-26T16:05:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -1.61,
  'epsestimate': -0.51,
  'epssurprisepct': -218.18,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2016-08-03T16:01:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -1.45,
  'epsestimate': -0.58,
  'epssurprisepct': -148.29,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2016-05-04T16:03:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.87,
  'epsestimate': 0.1,
  'epssurprisepct': -1006.25,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2016-02-10T16:15:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.58,
  'epsestimate': -0.49,
  'epssurprisepct': -17.17,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2015-11-03T16:04:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.48,
  'epsestimate': -0.6,
  'epssurprisepct': 19.6,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2015-08-05T16:44:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.36,
  'epsestimate': -0.5,
  'epssurprisepct': 27.71,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2015-05-06T16:26:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.13,
  'epsestimate': 0.31,
  'epssurprisepct': -142.48,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2015-02-11T16:05:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.02,
  'epsestimate': -0.01,
  'epssurprisepct': 385.71,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2014-11-05T17:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.11,
  'epsestimate': 0.04,
  'epssurprisepct': 175,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2014-07-31T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.12,
  'epsestimate': 0.1,
  'epssurprisepct': 15.2,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2014-05-07T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.33,
  'epsestimate': 0.21,
  'epssurprisepct': 59.48,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2014-02-19T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.12,
  'epsestimate': 0.11,
  'epssurprisepct': 9.86,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2013-11-05T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.2,
  'epsestimate': -0.17,
  'epssurprisepct': 218.34,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2013-08-07T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': 0.12,
  'epsestimate': 0.04,
  'epssurprisepct': 170.94,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2013-05-08T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.65,
  'epsestimate': -0.53,
  'epssurprisepct': -23.34,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2013-02-20T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.92,
  'epsestimate': -0.9,
  'epssurprisepct': -2.02,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2012-11-05T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.89,
  'epsestimate': -0.92,
  'epssurprisepct': 3.74,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2012-07-25T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.76,
  'epsestimate': -0.69,
  'epssurprisepct': -10.14,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2012-05-09T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.69,
  'epsestimate': -0.63,
  'epssurprisepct': -10.32,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2012-02-15T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.55,
  'epsestimate': -0.59,
  'epssurprisepct': 6.38,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2011-11-02T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.53,
  'epsestimate': -0.51,
  'epssurprisepct': -4.8,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2011-08-03T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.44,
  'epsestimate': -0.51,
  'epssurprisepct': 14.56,
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY',
  'startdatetime': '2011-05-04T04:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EDT'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.47,
  'epsestimate': -0.5,
  'epssurprisepct': 5.62,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2011-02-15T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'},
 {'companyshortname': 'Tesla, Inc.',
  'epsactual': -0.37,
  'epsestimate': -0.43,
  'epssurprisepct': 14.45,
  'gmtOffsetMilliSeconds': -18000000,
  'quoteType': 'EQUITY',
  'startdatetime': '2010-11-09T05:00:00.000Z',
  'startdatetimetype': 'TAS',
  'ticker': 'TSLA',
  'timeZoneShortName': 'EST'}]

In [20]:
#Get earnings financials
stock_info.get_financials("TSLA")

{'quarterly_balance_sheet': endDate                   2022-06-30   2022-03-31   2021-12-31   2021-09-30
 Breakdown
 intangibleAssets           241000000    254000000    257000000    269000000
 capitalSurplus           30944000000  30485000000  29803000000  28922000000
 totalLiab                30855000000  30632000000  30548000000  29340000000
 totalStockholderEquity   36376000000  34085000000  30189000000  27053000000
 minorityInterest          1282000000   1321000000   1394000000   1441000000
 otherCurrentLiab          5457000000   5288000000   4756000000   5024000000
 totalAssets              68513000000  66038000000  62131000000  57834000000
 commonStock                  1000000      1000000      1000000      1000000
 otherCurrentAssets         294000000    297000000    345000000    327000000
 retainedEarnings          5908000000   3649000000    331000000  -1990000000
 otherLiab                 4314000000   4210000000   3896000000   3190000000
 goodWill                   196000000    200000000    200000000    201000000
 treasuryStock             -477000000    -50000000     54000000    120000000
 otherAssets               3170000000   3895000000   3398000000   3114000000
 cash                     18324000000  17505000000  17576000000  16065000000
 totalCurrentLiabilities  21821000000  21455000000  19705000000  18051000000
 shortLongTermDebt         1057000000   1168000000   1088000000   1207000000
 otherStockholderEquity    -477000000    -50000000     54000000    120000000
 propertyPlantEquipment   33684000000  32639000000  31176000000  29248000000
 totalCurrentAssets       31222000000  29050000000  27100000000  25002000000
 netTangibleAssets        35939000000  33631000000  29732000000  26583000000
 shortTermInvestments       591000000    508000000    131000000     30000000
 netReceivables            2210000000   2424000000   1986000000   2000000000
 longTermDebt              2095000000   2253000000   4285000000   5471000000
 inventory                 8108000000   6691000000   5757000000   5199000000
 accountsPayable          11212000000  11171000000  10025000000   8260000000,
 'quarterly_cash_flow': endDate                                2022-06-30  2022-03-31  2021-12-31  \
 Breakdown
 investments                             -90000000  -386000000  -102000000
 changeToLiabilities                     770000000  1284000000  2155000000
 totalCashflowsFromInvestingActivities  -884000000 -2167000000 -1916000000
 netBorrowings                          -402000000 -2068000000 -1456000000
 totalCashFromFinancingActivities       -406000000 -1914000000 -1257000000
 changeToOperatingActivities            -733000000  -844000000  -784000000
 issuanceOfStock                          43000000   202000000   262000000
 netIncome                              2259000000  3318000000  2321000000
 changeInCash                            847000000  -104000000  1450000000
 effectOfExchangeRate                   -214000000   -18000000    38000000
 totalCashFromOperatingActivities       2351000000  3995000000  4585000000
 depreciation                            752000000   880000000   747000000
 changeToInventory                     -1559000000  -633000000  -534000000
 changeToAccountReceivables              176000000  -409000000    18000000
 otherCashflowsFromFinancingActivities   -47000000   -48000000   -63000000
 changeToNetincome                       686000000   399000000   662000000
 capitalExpenditures                   -1730000000 -1772000000 -1814000000

 endDate                                2021-09-30
 Breakdown
 investments                             -30000000
 changeToLiabilities                    1345000000
 totalCashflowsFromInvestingActivities -1855000000
 netBorrowings                         -1526000000
 totalCashFromFinancingActivities      -1381000000
 changeToOperatingActivities            -993000000
 issuanceOfStock                         192000000
 netIncome                              1618000000
 changeInCash                           -131000000
 effectOfExchangeRate                    -42000000
 totalCashFromOperatingActivities       3147000000
 depreciation                            761000000
 changeToInventory                      -488000000
 changeToAccountReceivables              135000000
 otherCashflowsFromFinancingActivities   -47000000
 changeToNetincome                       769000000
 capitalExpenditures                   -1825000000  ,
 'quarterly_income_statement': endDate                             2022-06-30   2022-03-31   2021-12-31  \
 Breakdown
 researchDevelopment                  667000000    865000000    740000000
 effectOfAccountingCharges                 None         None         None
 incomeBeforeTax                     2474000000   3626000000   2635000000
 minorityInterest                    1282000000   1321000000   1394000000
 netIncome                           2259000000   3318000000   2321000000
 sellingGeneralAdministrative         961000000    992000000   1494000000
 grossProfit                         4234000000   5460000000   4847000000
 ebit                                2670000000   3603000000   2613000000
 operatingIncome                     2670000000   3603000000   2613000000
 otherOperatingExpenses               -64000000    -64000000    -64000000
 interestExpense                      -44000000    -61000000    -70000000
 extraordinaryItems                        None         None         None
 nonRecurring                              None         None         None
 otherItems                                None         None         None
 incomeTaxExpense                     205000000    346000000    292000000
 totalRevenue                       16934000000  18756000000  17719000000
 totalOperatingExpenses             14264000000  15153000000  15106000000
 costOfRevenue                      12700000000  13296000000  12872000000
 totalOtherIncomeExpenseNet          -196000000     23000000     22000000
 discontinuedOperations                    None         None         None
 netIncomeFromContinuingOps          2269000000   3280000000   2343000000
 netIncomeApplicableToCommonShares   2259000000   3318000000   2326000000

 endDate                             2021-09-30
 Breakdown
 researchDevelopment                  611000000
 effectOfAccountingCharges                 None
 incomeBeforeTax                     1882000000
 minorityInterest                    1441000000
 netIncome                           1618000000
 sellingGeneralAdministrative         994000000
 grossProfit                         3660000000
 ebit                                2004000000
 operatingIncome                     2004000000
 otherOperatingExpenses                51000000
 interestExpense                     -125000000
 extraordinaryItems                        None
 nonRecurring                              None
 otherItems                                None
 incomeTaxExpense                     223000000
 totalRevenue                       13757000000
 totalOperatingExpenses             11753000000
 costOfRevenue                      10097000000
 totalOtherIncomeExpenseNet          -122000000
 discontinuedOperations                    None
 netIncomeFromContinuingOps          1659000000
 netIncomeApplicableToCommonShares   1618000000  ,
 'yearly_balance_sheet': endDate                    2021-12-31    2020-12-31    2019-12-31  \
 Breakdown
 intangibleAssets         2.570000e+08  3.130000e+08  3.390000e+08
 capitalSurplus           2.980300e+10  2.726000e+10  1.273600e+10
 totalLiab                3.054800e+10  2.846900e+10  2.619900e+10
 totalStockholderEquity   3.018900e+10  2.222500e+10  6.618000e+09
 minorityInterest         1.394000e+09  1.454000e+09  1.492000e+09
 otherCurrentLiab         4.756000e+09  4.147000e+09  3.693000e+09
 totalAssets              6.213100e+10  5.214800e+10  3.430900e+10
 commonStock              1.000000e+06  1.000000e+06  1.000000e+06
 otherCurrentAssets       3.450000e+08  2.380000e+08  2.460000e+08
 retainedEarnings         3.310000e+08 -5.399000e+09 -6.083000e+09
 otherLiab                3.896000e+09  3.302000e+09  2.969000e+09
 goodWill                 2.000000e+08  2.070000e+08  1.980000e+08
 treasuryStock            5.400000e+07  3.630000e+08 -3.600000e+07
 otherAssets              3.398000e+09  1.536000e+09  1.469000e+09
 cash                     1.757600e+10  1.938400e+10  6.268000e+09
 totalCurrentLiabilities  1.970500e+10  1.424800e+10  1.066700e+10
 shortLongTermDebt        1.088000e+09  1.758000e+09  1.399000e+09
 otherStockholderEquity   5.400000e+07  3.630000e+08 -3.600000e+07
 propertyPlantEquipment   3.117600e+10  2.337500e+10  2.019900e+10
 totalCurrentAssets       2.710000e+10  2.671700e+10  1.210300e+10
 netTangibleAssets        2.973200e+10  2.170500e+10  6.081000e+09
 shortTermInvestments     1.310000e+08           NaN           NaN
 netReceivables           1.986000e+09  1.903000e+09  1.324000e+09
 longTermDebt             4.285000e+09  8.571000e+09  1.037500e+10
 inventory                5.757000e+09  4.101000e+09  3.552000e+09
 accountsPayable          1.002500e+10  6.051000e+09  3.771000e+09
 longTermInvestments               NaN           NaN  1.000000e+06

 endDate                    2018-12-31
 Breakdown
 intangibleAssets         2.820000e+08
 capitalSurplus           1.024900e+10
 totalLiab                2.342700e+10
 totalStockholderEquity   4.923000e+09
 minorityInterest         1.390000e+09
 otherCurrentLiab         2.955000e+09
 totalAssets              2.974000e+10
 commonStock                       NaN
 otherCurrentAssets       1.930000e+08
 retainedEarnings        -5.318000e+09
 otherLiab                2.318000e+09
 goodWill                 6.800000e+07
 treasuryStock           -8.000000e+06
 otherAssets              1.380000e+09
 cash                     3.686000e+09
 totalCurrentLiabilities  9.993000e+09
 shortLongTermDebt        2.284000e+09
 otherStockholderEquity  -8.000000e+06
 propertyPlantEquipment   1.969100e+10
 totalCurrentAssets       8.307000e+09
 netTangibleAssets        4.573000e+09
 shortTermInvestments              NaN
 netReceivables           9.490000e+08
 longTermDebt             8.461000e+09
 inventory                3.113000e+09
 accountsPayable          3.405000e+09
 longTermInvestments      1.200000e+07  ,
 'yearly_cash_flow': endDate                                 2021-12-31   2020-12-31  2019-12-31  \
 Breakdown
 investments                             -132000000   -132000000  -132000000
 changeToLiabilities                     5371000000   2423000000  1447000000
 totalCashflowsFromInvestingActivities  -7868000000  -3132000000 -1436000000
 netBorrowings                          -5732000000  -2488000000   798000000
 totalCashFromFinancingActivities       -5203000000   9973000000  1529000000
 changeToOperatingActivities            -3014000000  -1165000000 -1000000000
 issuanceOfStock                          707000000  12686000000  1111000000
 netIncome                               5519000000    721000000  -862000000
 changeInCash                           -1757000000  13118000000  2506000000
 effectOfExchangeRate                    -183000000    334000000     8000000
 totalCashFromOperatingActivities       11497000000   5943000000  2405000000
 depreciation                            2810000000   2322000000  2092000000
 otherCashflowsFromInvestingActivities      6000000    123000000    46000000
 changeToInventory                      -1709000000   -422000000  -429000000
 changeToAccountReceivables              -130000000   -652000000  -367000000
 otherCashflowsFromFinancingActivities   -178000000   -225000000  -380000000
 changeToNetincome                       2650000000   2716000000  1524000000
 capitalExpenditures                    -8014000000  -3232000000 -1432000000

 endDate                                2018-12-31
 Breakdown
 investments                            -132000000
 changeToLiabilities                    2203000000
 totalCashflowsFromInvestingActivities -2337000000
 netBorrowings                            89000000
 totalCashFromFinancingActivities        574000000
 changeToOperatingActivities            -625000000
 issuanceOfStock                         296000000
 netIncome                              -976000000
 changeInCash                            312000000
 effectOfExchangeRate                    -23000000
 totalCashFromOperatingActivities       2098000000
 depreciation                           1888000000
 otherCashflowsFromInvestingActivities    46000000
 changeToInventory                     -1023000000
 changeToAccountReceivables             -497000000
 otherCashflowsFromFinancingActivities   189000000
 changeToNetincome                       969000000
 capitalExpenditures                   -2319000000  ,
 'yearly_income_statement': endDate                             2021-12-31   2020-12-31   2019-12-31  \
 Breakdown
 researchDevelopment                 2593000000   1491000000   1343000000
 effectOfAccountingCharges                 None         None         None
 incomeBeforeTax                     6343000000   1154000000   -665000000
 minorityInterest                    1394000000   1454000000   1492000000
 netIncome                           5519000000    721000000   -862000000
 sellingGeneralAdministrative        4517000000   3188000000   2646000000
 grossProfit                        13606000000   6630000000   4069000000
 ebit                                6523000000   1951000000     80000000
 operatingIncome                     6523000000   1951000000     80000000
 otherOperatingExpenses               -27000000    -27000000    -27000000
 interestExpense                     -358000000   -784000000   -725000000
 extraordinaryItems                        None         None         None
 nonRecurring                              None         None         None
 otherItems                                None         None         None
 incomeTaxExpense                     699000000    292000000    110000000
 totalRevenue                       53823000000  31536000000  24578000000
 totalOperatingExpenses             47300000000  29585000000  24498000000
 costOfRevenue                      40217000000  24906000000  20509000000
 totalOtherIncomeExpenseNet          -180000000   -797000000   -745000000
 discontinuedOperations                    None         None         None
 netIncomeFromContinuingOps          5644000000    862000000   -775000000
 netIncomeApplicableToCommonShares   5524000000    690000000   -870000000

 endDate                             2018-12-31
 Breakdown
 researchDevelopment                 1460000000
 effectOfAccountingCharges                 None
 incomeBeforeTax                    -1005000000
 minorityInterest                    1390000000
 netIncome                           -976000000
 sellingGeneralAdministrative        2835000000
 grossProfit                         4042000000
 ebit                                -253000000
 operatingIncome                     -253000000
 otherOperatingExpenses               -27000000
 interestExpense                     -653000000
 extraordinaryItems                        None
 nonRecurring                              None
 otherItems                                None
 incomeTaxExpense                      58000000
 totalRevenue                       21461000000
 totalOperatingExpenses             21714000000
 costOfRevenue                      17419000000
 totalOtherIncomeExpenseNet          -752000000
 discontinuedOperations                    None
 netIncomeFromContinuingOps         -1063000000
 netIncomeApplicableToCommonShares   -976000000  }

In [9]:
#Get a quote table back as a dataframe
stock_info.get_quote_table("TSLA", dict_result = False)

                   attribute                        value
0              1y Target Est                       879.36
1              52 Week Range            620.57 - 1,243.49
2                        Ask                  0.00 x 1100
3                Avg. Volume                   30650822.0
4          Beta (5Y Monthly)                         2.11
5                        Bid                  0.00 x 1100
6                Day's Range              837.30 - 894.96
7                  EPS (TTM)                         8.79
8              Earnings Date  Oct 18, 2022 - Oct 24, 2022
9           Ex-Dividend Date                          NaN
10  Forward Dividend & Yield                    N/A (N/A)
11                Market Cap                     931.111B
12                      Open                        842.1
13            PE Ratio (TTM)                       101.42
14            Previous Close                        842.7
15               Quote Price                   891.450012
16                    Volume                   31770961.0

In [4]:
#Amazon. com Inc
live_price = stock_info.get_live_price("AMZN")
print(round(live_price, 2), "UDA")

134.95 UDA

In [5]:
#Apple Inc
live_price = stock_info.get_live_price("AAPL")
print(round(live_price, 2), "UDA")

162.51 UDA

In [6]:
#AMTD Digital Inc
live_price = stock_info.get_live_price("HKD")
print(round(live_price, 2), "UDA")

400.25 UDA

In [7]:
#First Solar Inc
live_price = stock_info.get_live_price("FSLR")
print(round(live_price, 2), "UDA")

99.17 UDA

In [11]:
#Get the top 100 crypto
#stock_info.get_top_crypto()

In [12]:
#Get the biggest gainers
stock_info.get_day_gainers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,HKD,AMTD Digital Inc.,400.25,220.25,122.36,1456000.0,1362000.0,74064000000.0,430.38
1,PGY,Pagaya Technologies Ltd.,24.82,6.85,38.12,14555000.0,4182000.0,16230000000.0,NaN
2,AMTD,AMTD IDEA Group,1.76,0.32,22.22,29286000.0,1393000.0,3469000000.0,2.35
3,ENVX,Enovix Corporation,13.32,1.46,12.31,3678000.0,2761000.0,2089000000.0,NaN
4,RIG,Transocean Ltd.,3.38,0.37,12.29,23872000.0,19621000.0,2302000000.0,NaN
...,...,...,...,...,...,...,...,...,...
95,AUOTY,AUO Corporation,5.76,0.26,4.73,53566.0,112470.0,5516000000.0,3.11
96,AMRC,"Ameresco, Inc.",57.22,2.57,4.70,639166.0,419498.0,2965000000.0,37.64
97,PTEN,"Patterson-UTI Energy, Inc.",16.55,0.74,4.68,3071000.0,3656000.0,3580000000.0,NaN
98,FERG,Ferguson plc,126.08,5.62,4.67,512734.0,676527.0,26643000000.0,12.68
99,ARRY,"Array Technologies, Inc.",16.85,0.75,4.66,7622000.0,4700000.0,2530000000.0,NaN

In [13]:
#Get the biggest losers
stock_info.get_day_losers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,ROKU,"Roku, Inc.",65.52,-19.65,-23.07,46100000.0,8606000.0,8.909000e+09,88.54
1,BABA,Alibaba Group Holding Limited,89.37,-11.18,-11.12,59202000.0,27556000.0,2.512530e+11,30.61
2,BABAF,Alibaba Group Holding Limited,11.26,-1.29,-10.32,278693.0,153390.0,2.512530e+11,31.26
3,AVTR,"Avantor, Inc.",29.02,-3.31,-10.24,19468000.0,5195000.0,1.771200e+10,36.28
4,EVEX,"Eve Holding, Inc.",7.69,-0.81,-9.53,94486.0,326771.0,2.033000e+09,NaN
...,...,...,...,...,...,...,...,...,...
95,PFGC,Performance Food Group Company,49.71,-1.61,-3.14,1145000.0,1848000.0,7.705000e+09,108.07
96,GLBE,Global-e Online Ltd.,22.76,-0.73,-3.11,688406.0,2048000.0,3.561000e+09,NaN
97,RPD,"Rapid7, Inc.",63.97,-2.03,-3.08,890905.0,679733.0,3.727000e+09,NaN
98,SGFY,"Signify Health, Inc.",17.11,-0.54,-3.06,894229.0,1661000.0,3.984000e+09,90.05
99,ZTO,ZTO Express (Cayman) Inc.,25.59,-0.80,-3.03,1512000.0,2506000.0,2.077500e+10,28.43